@import url('https://fonts.googleapis.com/css2?family=B612+Mono&family=DM+Serif+Display:ital@0;1&display=swap');
@import '_variables';
@import '_elements';

html {
  scroll-behavior: smooth;
}

* {
  box-sizing: border-box;
}

body {
  font-family: 'Lora', serif;
  padding: 45px;
  background-color: #f8f3ec;
  height: 100%;
  min-width: 350px;
}

header {
  background-color: #38322e;
  border: 1px solid #38322e;
  margin-bottom: 100px;
  position: sticky;
  z-index: 1000;
  top: 0;
  nav {
    text-align: center;
    a {
      text-decoration: none;
      color: black;
    }
    ul {
      display: grid;
      gap: 1px;
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(2, 60px);
      li {
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        &:nth-child(2) {
          grid-column-start: span 2;
          font-size: 32px;
        }
        a {
          &:hover {
            background-color: #eb2300;
            color: white;
            padding: 5px 15px;
          }
        }
      }
    }
  }
}

.blank__box {
  display: inline-block;
  justify-content: center;
  height: 150px;
  margin-bottom: 30px;
}

main {
  text-align: center;
}

.main__page {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 50vh);
  margin-bottom: 100px;
  .main__img {
    background-image: url('../../img/main1.jpg');
    background-position: center center;
    background-size: cover;
    &:nth-child(2) {
      background-image: url('../../img/main2.jpg');
    }
    &:nth-child(3) {
      background-image: url('../../img/main3.jpg');
    }
    &:nth-child(4) {
      background-image: url('../../img/main4.jpg');
    }
    &:nth-child(5) {
      background-image: url('../../img/main5.jpg');
    }
    &:nth-child(6) {
      background-image: url('../../img/main6.jpg');
    }
    &:nth-child(7) {
      background-image: url('../../img/main7.jpg');
    }
    &:nth-child(8) {
      background-image: url('../../img/main8.jpg');
    }
  }
}

.positive {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 20px;
  gap: 1px;
  .positive__circle {
    padding: 40% 0;
    vertical-align: top;
    display: flex;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #38322e;
    justify-content: center;
    align-items: center;
    font-size: 15px;

    &:nth-child(4) {
      font-family: 'Song Myung', serif;
      font-size: 80px;
    }
    &:nth-child(5) {
      font-family: 'Song Myung', serif;
      font-size: 80px;
      &:hover {
        color: #eb2300;
        transform: rotate(900deg);
        transition: transform 1.5s;
        cursor: pointer;
      }
    }
    &:nth-child(6) {
      font-family: 'Song Myung', serif;
      font-size: 80px;
    }
  }
}

.travel__box {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(4, 30vw);
  margin-bottom: 20px;
  .travel__img {
    background-image: url('../../img/travel1.jpg');
    background-position: center center;
    background-size: cover;
    border-radius: 50%;
    border: 1px solid #38322e;
    opacity: 0.6;
    &:hover {
      opacity: 1;
      transition: 0.5s;
    }
    &:nth-child(2) {
      background-image: url('../../img/travel2.jpg');
    }
    &:nth-child(3) {
      background-image: url('../../img/travel3.jpg');
    }
    &:nth-child(4) {
      background-image: url('../../img/travel4.jpg');
    }
    &:nth-child(5) {
      background-image: url('../../img/travel5.jpg');
    }
    &:nth-child(6) {
      background-image: url('../../img/travel6.jpg');
    }
    &:nth-child(7) {
      background-image: url('../../img/travel7.jpg');
    }
    &:nth-child(8) {
      background-image: url('../../img/travel15.jpg');
    }
    &:nth-child(9) {
      background-image: url('../../img/travel9.jpg');
    }
    &:nth-child(10) {
      background-image: url('../../img/travel10.jpg');
    }
    &:nth-child(11) {
      background-image: url('../../img/travel13.jpg');
    }
    &:nth-child(12) {
      background-image: url('../../img/travel18.jpg');
    }
  }
}

.art {
  [id='slide01']:checked ~ .slidewrap .slidelist > li {
    transform: translate(0%);
  }
  [id='slide02']:checked ~ .slidewrap .slidelist > li {
    transform: translate(-100%);
  }
  [id='slide03']:checked ~ .slidewrap .slidelist > li {
    transform: translate(-200%);
  }
  [id='slide04']:checked ~ .slidewrap .slidelist > li {
    transform: translate(-300%);
  }
  input {
    display: none;
  }
  .slidewrap {
    max-width: 700px;
    margin: 0 auto;
    overflow: hidden;
  }
  .slidelist {
    white-space: nowrap;
    font-size: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      width: 100%;
      transition: all 0.5s;
      a {
        display: block;
        position: relative;
        img {
          width: 100%;
        }
      }
    }
    label {
      position: absolute;
      z-index: 10;
      top: 50%;
      transform: translateY(-50%);
      padding: 50px;
      cursor: pointer;
    }
    .left {
      left: 10px;
      background: url(../../img/left.png) center center / 100% no-repeat;
    }
    .right {
      right: 10px;
      background: url(../../img/right.png) center center / 100% no-repeat;
    }
  }
}

.film {
  margin-bottom: 200px;
  min-height: 1500px;
  position: relative;
  .banner {
    width: 100%;

    video {
      position: relative;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    #bg {
      width: 100%;
      height: 100%;
      background: #fff
        url(https://upload.wikimedia.org/wikipedia/commons/thumb/4/45/XEIcon_xi-heart.svg/512px-XEIcon_xi-heart.svg.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 100px;
      mix-blend-mode: screen;
    }
  }
}

.music {
  margin-bottom: 200px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  margin-bottom: 20px;
  gap: 1px;
  .music__img {
    padding: 40% 0;
    vertical-align: top;
    display: flex;
    background-color: white;
    border-radius: 100%;
    border: 1px solid #38322e;
    justify-content: center;
    align-items: center;
    font-size: 15px;
  }
}

footer {
  margin: 100px 0px 0px 0px;
  background-color: white;
  gap: 1px;
  height: 60px;
  min-width: 400px;
  border: 1px solid #38322e;
  position: sticky;
  bottom: 0;
  padding: 10px;
  div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 5px 15px;
    a {
      text-decoration: none;
      color: black;
      &:hover {
        background-color: #eb2300;
        color: white;
      }
    }
  }
}

/* browser min-width */

.warning-message {
  display: none;
}
.content-wrapper {
  display: block;
}
@media (min-width: 350px) {
  .warning-message {
    display: block;
  }
  .content-wrapper {
    display: none;
  }
}

/* responsive browser media query settings */

@media screen and (max-width: 768px) {
  .main__page {
    display: grid;
    grid-template-columns: repeat(2, minmax(50px, 1fr));
    grid-template-rows: repeat(auto, 50vh);
  }
}

@media screen and (max-width: 768px) {
  .travel__box {
    display: grid;
    grid-template-columns: repeat(1, minmax(50px, 1fr));
    grid-template-rows: repeat(12, 40vh);
  }
}
